body
{
    background-color: #fff;
}

.title-game
{
    color: #5D5D5D;
}

.BTNs-CHARs > input[type="button"]
{
    background-color: #EBEBEB;
}

.BTNs-CHARs > input[type="button"]:hover
{
    background-color: #A2A2A2;
}


/* when char button is desactived */
.desactived
{
    background-color: #747474 !important;
}

.ltt
{
    border-bottom: 2px solid #000;
}

.missingLT
{
    color: #FF3636;
}

.win
{
    color: #52C654;
}

.restartBTN
{
    background-color: #171717;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

.version-app
{
    color: #A2A2A2;
}