:root
{
    --backgroundColor: #1F2933;
    --titleColor: #616E7C;
    --textColor: #CBD2D9;
    --BTNColor: #52606D;
    --BTNRBC: #52606D;
    --BTNRTXT: #CBD2D9;
    --BTNRBCHover: #3E4C59;
    --TXTBTNRBCHover: #9AA5B1;
    --BTNCHARHover: #323F4B;
    --LIHover : #FFBF00;
}