@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');


*
{
    margin: 0;
    padding: 0;
    color: var(--textColor);
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
}

#root
{   
    background-color: var(--backgroundColor);
}