/*------------------- Area of game --------------------*/

.game-area
{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*-----------------------------------------------------*/


/*--------------------- Title game --------------------*/

.title-game
{    
    text-align: center;
    margin-top: 45px;
    margin-bottom: 100px;

    font-size: 30px;
}
/*-----------------------------------------------------*/



/*----------------- Letters buttons -------------------*/

.BTNs-CHARs
{
    width: 100%;
    max-width: 750px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}


.BTNs-CHARs > input[type="button"]
{
    width: 40px;
    height: 40px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
}



/*-----------------------------------------------------*/




/*------------------- Word's Categorie -----------------*/

.categorie-title
{
    font-size: 23px;
    margin-top: 40px;
}
/*-----------------------------------------------------*/




/*----------- White sapces from the word --------------*/

.ltt, .nlt
{
    display: inline-block;
    width: 30px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

/*-----------------------------------------------------*/




/*--------------------- The word ----------------------*/

.word
{
    display: flex;
    margin-top: 30px;
    gap: 5px;
}
/*-----------------------------------------------------*/




/*------------------ Message container ----------------*/

.MSG-container
{
    margin-top: 23px;
}
/*-----------------------------------------------------*/





/*------------------- Restarr button -------------------*/

.restartBTN
{
    width: 290px;
    height: 40px;

    margin-top: 40px;
    border-radius: 5px;

    border: none;
    margin-bottom: 30px;
}
/*-------------------------------------------------------*/




/*-------------- footer and your elements ---------------*/

footer
{
    margin-top: 30px;
    padding: 5px 30px;
    gap: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.links
{
    width: 40px;
    height: 40px;
}

/*-------------------------------------------------------*/